
        /* register style */
        
        body {
            height: 100vh; /* ทำให้พื้นหลังเต็มหน้าจอ */
            margin: 0;
            background: linear-gradient(to bottom, black 60%, #ee230b 40px); /* เปลี่ยนสีที่ต้องการ */
        }

        .center-text {
            text-align: center;
            font-size: 80px;
            font-family: 'Prompt', sans-serif;
            margin: 20px 0; /* เพิ่มระยะห่างบนและล่าง */
        }

        .square-box {
            background-color: white; /* สีพื้นหลังกรอบ */
            width: 900px; /* ความกว้างของกรอบ */
            height: auto; /* ปรับความสูงอัตโนมัติ */
            border: 1px solid #ccc; /* ขอบกรอบ */
            border-radius: 20px; /* มุมโค้งของกรอบ */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงาของกรอบ */
            display: flex;
            flex-direction: column; /* จัดเรียงในแนวตั้ง */
            justify-content: center;
            align-items: flex-start; /* จัดให้ชิดซ้าย */
            text-align: left; /* จัดตำแหน่งข้อความให้ชิดซ้าย */
            margin: 20px auto; /* เพิ่มระยะห่างและจัดกลาง */
            padding: 20px; /* เพิ่ม padding ให้กรอบ */
        }

        input[type="email"], input[type="password"], input[type="name"], input[type="nickname"] {
            width: 100%; /* ให้กว้างเต็มกรอบ */
            padding: 10px; /* เพิ่ม padding */
            margin: 10px 0; /* เพิ่มระยะห่างระหว่างช่อง */
            border: 1px solid #ccc; /* ขอบ */
            border-radius: 5px; /* มุมโค้ง */
            color: black;
        }

        button {
          padding: 10px 20px; /* เพิ่ม padding ให้ปุ่ม */
          border: none; /* ไม่มีขอบ */
          border-radius: 20px; /* มุมโค้ง */
          background-color: red; /* สีพื้นหลังปุ่ม */
          color: white; /* สีตัวอักษร */
          cursor: pointer; /* เปลี่ยนเป็นรูปมือเมื่อชี้ */
          margin: 30px auto 0; /* จัดกลาง */
          display: block; /* ให้ปุ่มแสดงในรูปแบบ block */
          font-size: 20px; 
        }

        button:hover {
            background-color: #0056b3; /* สีเมื่อเอาเมาส์ไปชี้ */
        }

        .label {
            margin: 10px 0 5px; /* ระยะห่างจากช่อง */
            font-weight: bold; /* ทำให้ข้อความหนา */
            color: black; /* เปลี่ยนสีตัวอักษรเป็นสีดำ */
            text-align: left; /* จัดตำแหน่งข้อความให้ชิดซ้าย */
            width: 100%; /* ให้เต็มความกว้าง */
        }