body {
    height: 100vh;
    margin: 0;
    background-color: #161616;
}

.center-text {
    text-align: center;
    font-size: 80px;
    font-family: 'Prompt', sans-serif;
    margin: 20px 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.image-grid img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(1, minmax(350px, 1fr));
        justify-items: center;
        align-items: center;
    }

    .image-grid img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .center-text {
        font-size: 28px;
        font-weight: 600;
    }
}
