body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, black 80%, #f89309 20%);
}

.center-text {
    text-align: center;
    font-size: 40px;
    font-family: 'Prompt', sans-serif;
    margin: 20px 0;
    border-radius: 20px;
}

.center-text img {
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
}

.bangkoktext {
    text-align: center;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    margin: 20px 0;
    border-radius: 20px;
}

.textcon {
    text-align: center;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    margin: 20px 0;
    padding: 0 20px;
}

.contact-info {
    display: flex;
    flex-direction: row; /* จัดเรียงในแนวนอน */
    justify-content: center; /* จัดกึ่งกลาง */
    align-items: center;
    gap: 20px; /* ช่องว่างระหว่างแต่ละบรรทัด */
    margin: 20px 0;
}


@media (max-width: 768px) {
    .center-text {
        font-size: 24px;
        font-weight: 600;
    }

    .contact-info {
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
        text-align: center;
    }

    .bangkoktext, .textcon {
        font-size: 1rem;
        text-align: center;
    }
}
