        /* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: #333;
    text-transform: uppercase;
}

.logo span:hover {
    color: #a7a7a7;
    filter: drop-shadow(0px 13px 52px #75ddff);
}

.navbar .nav {
    display: flex;
    list-style: none;
}

.nav-item {
    position: relative;
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
}

.nav-link:hover {
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 5px;
}

.arrow-down {
    margin-left: 5px;
    font-size: 12px;
}

.dropdown-menu li{
    display: block;
}

.dropdown-menu{
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    z-index: 1000;
    display: none;
    top: 100%;
    left: 0;
    border-radius: 5px;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover, .dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.carousel-item {
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-control-prev-icon:hover, 
  .carousel-control-next-icon:hover {
    transform: scale(1.2); 
  }
  
.hero {
    background-color: rgb(255, 251, 199);
    padding: 50px 0px 150px 0px;
}

.header-events {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 20px;
    margin: 0 30px;
    animation: Vibrate 2s ease-in-out 1s infinite normal forwards;
}

.header-events h1 {
    font-weight: bolder;
    font-size: 70px;
}

.header-events h1 span {
    color: #22e061;
}

@keyframes Vibrate {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

.hero-info {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.hero-text {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    align-content: center;
    padding: 0 50px;
    margin: 0 10px;
    box-shadow: 5px 5px 25px 2px #7afdd6;
    border-radius: 8px;
}

.btn-container {
    text-align: center;
    animation: shakeBox 2s ease-in-out 1s infinite normal forwards;
}

@keyframes shakeBox {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 0 50%;
	}

	10% {
		transform: rotate(1deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-2deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(2deg);
	}

	80% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(1deg);
	}
}

.btn-callAction {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #28ff70;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.btn-callAction:hover {
    background-color: #00b300;
    color: #000000;
    transform: scale(1.05);
}

.btn-callAction:active {
    background-color: #00b300;
    transform: scale(0.95);
}

.card-container img {
    width: 360px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 11px 14px 38px 0px #ff3737;
}

.card-container:hover {
    animation: scaleUp 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
}

.txt-copyright {
    font-size: 18px;
    font-weight: 400;
}

.footer-menu a {
    text-decoration: none;
}

.footer-menu a img {
    width: 40px;
    height: 40px;
}

.footer-menu a img:hover {
    animation: scaleUp 0.5s ease-in-out 0s 1 normal forwards;
}
        
        /* register style */
        
        body {
            height: 100vh; /* ทำให้พื้นหลังเต็มหน้าจอ */
            margin: 0;
            background: linear-gradient(to bottom, black 60%, #3b3a3a 40px); /* เปลี่ยนสีที่ต้องการ */
        }

        .center-text {
            text-align: center;
            font-size: 80px;
            font-family: 'Prompt', sans-serif;
            margin: 20px 0; /* เพิ่มระยะห่างบนและล่าง */
        }

