        /* register gallery */
        
        body {
            height: 100vh;
            margin: 0;
            background-color: #161616;
        }

        .center-text {
            text-align: center;
            font-size: 80px;
            font-family: 'Prompt', sans-serif;
            margin: 20px 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px); 
    gap: 50px 250px;
    justify-content: center;
    align-content: center;
    padding-right: 200px;
}

.image-grid img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

